body {
  margin: 0;
  overflow: auto; /* Permite scroll automático si el contenido lo requiere */
  height: auto; /* Deja que el contenido determine la altura */
  position: relative;
}

.brand-name {
  font-family: 'Spectral', serif;
  font-style: italic;
}

/* Navegación */
.nav-link {
  font-weight: bold;
  font-family: 'Helvetica', sans;
  color: black !important; /* Forzar el color negro */
  text-decoration: none; /* Quitar subrayado */
}

.nav-link:hover {
  color: gray !important; /* Forzar el color gris en hover */
}

.nav-link.active {
  color: gray !important;
}

a:focus, a:active {
  color: inherit !important;
  text-decoration: none !important;
}

/* Contenido principal */
.cuerpo {
  font-weight: light;
  font-family: 'Helvetica', sans;
  color: black !important; /* Forzar el color negro */
  text-decoration: none; /* Quitar subrayado */
  padding: 10px;
}

/* Animación del texto desplazable */
.scrolling-text {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  animation: scrolling-text 20s linear infinite;
  font-family: 'Spectral', serif;
  font-style: italic;
  color: #0800ff;
  margin-top: -20px; /* Ajustar la distancia desde el encabezado */
}

@keyframes scrolling-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Cartas */
.card {
  border: none; /* Eliminar bordes */
}

.card img {
  border-radius: 0; /* Sin bordes redondeados */
  transition: opacity 0.5s ease-in-out; /* Transición suave */
}

.card .hover-image {
  display: none;
}

.card:hover .default-image {
  display: none;
}

.card:hover .hover-image {
  display: block;
}

.card .card-body {
  text-align: center; /* Centrar texto */
  transition: transform 0.3s ease-in-out; /* Animación para texto */
}

.card:hover .card-body {
  transform: translateY(-10px); /* Levantamiento al hacer hover */
}

/* Estilo del cuerpo y la imagen */
body {
  margin: 0;
  overflow: hidden; /* Evitar scroll innecesario */
  height: 100vh;
  width: 100vw;
  position: relative; /* Define el contenedor para los límites */
}

img#bouncingImage {
  width: 300px; /* Tamaño de la imagen */
  height: 300px;
  position: absolute; /* Permite movimiento libre */
  animation: rotate 5s linear infinite; /* Rotación infinita */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Animación de movimiento de imagen */
@keyframes move-image {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
