body {
  opacity: 0;
  transition: opacity 1s;
}

.brand-name {
  font-family: 'Piazzolla', serif;
  font-style: italic;
}

.nav {
  font-weight: bold;
  color: grey; /* Forzar el color negro */
  text-decoration: none; /* Quitar subrayado */
}

/* Cambiar el color de los enlaces a negro por defecto */
.nav-link {
  font-weight: bold;
  color: black !important; /* Forzar el color negro */
  text-decoration: none; /* Quitar subrayado */
}

/* Cambiar el color al pasar el mouse (hover) a gris */
.nav-link:hover {
  color: gray !important;
}

/* Color gris para el enlace activo */
.nav-link.active {
  color: gray !important;
}

/* Evitar que los enlaces cambien de color al hacer clic o al enfocarse */
a:focus, a:active {
  color: inherit !important;
  text-decoration: none !important;
}

.spectral-italic {
  font-family: 'Spectral', serif;
  font-style: italic;
}

.card {
  border: none; /* Sin bordes */
  box-shadow: none; /* Sin sombra */
  display: flex; /* Diseño flexible para contenido */
  flex-direction: row; /* Imagen y contenido en una fila */
}

.card-body {
  text-align: left; /* Texto alineado a la izquierda */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  margin-bottom: 1px;
}

.card-img-top {
  width: 100%;
  height: 225px;
  object-fit: cover;
}

.card-img-left {
  width: 40%; /* Imagen en la tarjeta izquierda */
  object-fit: cover;
}

@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }

header {
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInDown;
}

.cuerpo {
  font-weight: light;
  font-family: "Raleway", sans-serif;
  color: black !important; /* Forzar el color negro */
  text-decoration: none; /* Quitar subrayado */
  padding: 10px;
}

/* Estilo del cuerpo y la imagen */
body {
  margin: 0;
  overflow: hidden; /* Evita scroll innecesario */
  height: 100vh;
  width: 100vw;
  position: relative; /* Define el contenedor para los límites */
}

a:hover {
  color: gray;
}
