body {
    margin: 0;
    overflow: auto; /* Permite scroll automático si el contenido lo requiere */
    height: auto; /* Deja que el contenido determine la altura */
    position: relative;
}

.brand-name {
    font-family: "Spectral", serif;
    font-style: italic;
}

/* Navegación */
.nav-link {
    font-weight: bold;
    font-family: "Helvetica", sans;
    color: black !important; /* Forzar el color negro */
    text-decoration: none; /* Quitar subrayado */
}

.nav-link:hover {
    color: gray !important; /* Forzar el color gris en hover */
}

.nav-link.active {
    color: gray !important;
}

a:focus,
a:active {
    color: inherit !important;
    text-decoration: none !important;
}

/* Contenido principal */
.cuerpo {
    font-weight: light;
    font-family: "Helvetica", sans;
    color: black !important; /* Forzar el color negro */
    text-decoration: none; /* Quitar subrayado */
    padding: 10px;
}

/* Animación del texto desplazable */
.scrolling-text {
    width: 100%;
    white-space: nowrap;
    box-sizing: border-box;
    animation: scrolling-text 20s linear infinite;
    font-family: "Spectral", serif;
    font-style: italic;
    color: #0800ff;
    margin-top: -20px; /* Ajustar la distancia desde el encabezado */
}

@keyframes scrolling-text {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Cartas */
.card {
    border: none; /* Eliminar bordes */
}

.card img {
    border-radius: 0; /* Sin bordes redondeados */
    transition: opacity 0.5s ease-in-out; /* Transición suave */
}

.card .hover-image {
    display: none;
}

.card:hover .default-image {
    display: none;
}

.card:hover .hover-image {
    display: block;
}

.card .card-body {
    text-align: center; /* Centrar texto */
    transition: transform 0.3s ease-in-out; /* Animación para texto */
}

.card:hover .card-body {
    transform: translateY(-10px); /* Levantamiento al hacer hover */
}

img#bouncingImage {
    width: 300px; /* Tamaño de la imagen */
    height: 300px;
    position: absolute; /* Permite movimiento libre */
    animation: rotate 5s linear infinite; /* Rotación infinita */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Animación de movimiento de imagen */
@keyframes move-image {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}
bi {
    vertical-align: -0.125em;
    fill: currentColor;
}
/* Estilo para el enlace de volver a la página principal */
.back-to-archive {
    position: relative;
    margin: 20px 0 0 30px; /* Ajusta los márgenes para moverlo más abajo y a la derecha */
}

.back-link {
    font-family: "Spectral", serif;
    font-style: italic;
    color: #0800ff;
    text-decoration: none; /* Quita el subrayado del enlace */
}

.back-link:hover {
    text-decoration: underline; /* Agrega subrayado al pasar el mouse */
}

.images img {
    display: block; /* Hace que las imágenes se alineen una debajo de la otra */
    margin: 20px auto; /* Centra las imágenes y agrega un espacio entre ellas */
    width: 500px; /* Ancho fijo */
    height: 700px; /* Alto fijo */
    object-fit: cover; /* Asegura que la imagen se recorte proporcionalmente para llenar las dimensiones */
}


.subtitle {
    font-family: "Spectral", serif;
    font-style: italic;
    color: #555;
    font-size: 15px;
    margin: 0 50px 20px;
    text-align: left;
}

.title {
    font-family: "Spectral", serif;
    font-style: italic;
    color: #0800ff;
    font-size: 48px; /* Aumenta el tamaño del título */
    margin: 20px 0 0 50px; /* Mueve el título hacia la derecha */
    text-align: left;
}
/* Contenedor para título y descripción */
.title-description-container {
    display: flex;
    align-items: flex-start; /* Alinea al principio de la fila */
    justify-content: space-between;
    margin: 20px 50px; /* Margen general del contenedor */
}
/* Estilo para la descripción */
.description {
    font-family: "Helvetica", sans-serif;
    font-size: 15px; /* Tamaño del texto de la descripción */
    color: black;
    text-align: justify;
    margin: -70px 0 0 600px; /* Más arriba (-10px) y más a la derecha (600px) */
    max-width: 50%; /* Ajusta el ancho máximo de la descripción */
}

